*{
	margin : 0px;
	padding : 0px;
	font-family : "Roboto";
    box-sizing : border-box;
}
body{
	text-align : center;
}

.container{
	margin : 20px auto;
	width : 500px;
	height : 500px;
	display : grid;
	grid-template-columns : repeat(8, calc(500px / 8));
	background-color : white;
}

.container span{
	width : 100%;
	height : 100%;
	display : block;
	background-color : #ACE6FF;
    padding : 5px;
}

.container span.black{
	background-color : #676767;
}
